@model TaskList.Models.Task
<div id="task_create">
    @using (Ajax.BeginForm("CreateNewTask", "TaskLists",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "tasks"
        }))
    {
        @*@Html.HiddenFor(m => Model.ChekListId)*@
        @Html.EditorFor(m => Model.TaskDescription)
    }
</div>
