@using TaskList.Models
@model IEnumerable<Task>

<table>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td style="font-family: arial, verdana">
                    @item.TaskDescription
                </td>
            </tr>
        }
    }
</table>

@*<div id="task_create">
    @using (Ajax.BeginForm("CreateNewTask", "TaskLists",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "tasks"
        }))
    {

        @Html.EditorFor(m=> Model.ElementAt(0).TaskDescription)
    }
</div>*@

@*@Html.Partial("_NewTask", Model.ElementAt(0))*@

