@using TaskList.Models
@model IEnumerable<Task>

<table>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td style="font-family: arial, verdana">
                    @item.TaskDescription
                </td>
            </tr>
        }
    }
</table>

    <div id="task_create">
        @using (Ajax.BeginForm("CreateNewTask", "TaskLists",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "tasks"
                }))
        {
            @Html.Editor("taskDescription")
            //var checkListId = !Model.Any() ? 0 : Model.ElementAt(0).CheckListId;
            @Html.Hidden("checkListId", (object)@ViewBag.CheckListId)
        }
    </div>

